.u-block-e113-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-e113-3 {
  position: absolute;
  left: 0;
  width: 37px;
  height: 37px;
  right: auto;
  padding: 0;
}

.u-block-e113-4 {
  position: absolute;
  width: 37px;
  height: 37px;
  left: auto;
  right: 0;
  padding: 0;
}

 .u-section-1-1 {
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-image: linear-gradient(to bottom, rgba(26, 26, 26, 1), rgba(26, 26, 26, 1)), linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/images/ewasipos1.jpg');
  background-size: cover, cover, cover;
  min-height: 100vh;
}

.u-section-1-1 .u-image-1 {
  width: 620px;
  height: 923px;
  margin: 0 auto 0 0;
}

.u-section-1-1 .u-group-1 {
  width: 494px;
  min-height: 713px;
  height: auto;
  margin: -841px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-1-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1-1 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  text-transform: uppercase;
  letter-spacing: 8px;
  font-size: 3.75rem;
  margin: 23px 0 0 30px;
}

.u-section-1-1 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: 700;
  margin: 0 auto 0 30px;
}

.u-section-1-1 .u-text-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  line-height: 1.4;
  font-size: 1rem;
  margin: 31px 106px 0 30px;
}

.u-section-1-1 .u-btn-1 {
  --radius: 11px;
  font-size: 0.9375rem;
  border-style: solid;
  background-image: none;
  font-weight: 400;
  line-height: 1.2;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 46px auto 0 30px;
  padding: 7px 13px 8px 12px;
}

.u-section-1-1 .u-btn-2 {
  --radius: 11px;
  font-size: 0.9375rem;
  border-style: solid;
  background-image: none;
  font-weight: 400;
  line-height: 1.2;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 18px auto 0 30px;
  padding: 7px 12px 8px 10px;
}

.u-section-1-1 .u-btn-3 {
  --radius: 11px;
  font-size: 0.9375rem;
  border-style: solid;
  background-image: none;
  font-weight: 400;
  line-height: 1.2;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 18px auto 0 30px;
  padding: 7px 20px 8px 19px;
}

.u-section-1-1 .u-list-1 {
  margin-top: 39px;
  margin-bottom: 0;
}

.u-section-1-1 .u-repeater-1 {
  grid-auto-columns: calc(12.5% - 8.75px);
  grid-template-columns: repeat(8, calc(12.5% - 8.75px));
  min-height: 89px;
  grid-gap: 10px;
}

.u-section-1-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1-1 .u-text-4 {
  font-size: 0.75rem;
  text-shadow: 2px 1px 6px rgba(0,0,0,0.26);
  text-transform: uppercase;
  letter-spacing: 2px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 35px 0 0;
}

.u-section-1-1 .u-btn-4 {
  font-family: HelveticaNowText-Regular;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  padding: 0;
}

.u-section-1-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1-1 .u-text-5 {
  font-size: 0.75rem;
  text-shadow: 2px 1px 6px rgba(0,0,0,0.26);
  text-transform: uppercase;
  letter-spacing: 2px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 35px 0 0;
}

.u-section-1-1 .u-btn-5 {
  font-family: HelveticaNowText-Regular;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  padding: 0;
}

.u-section-1-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1-1 .u-text-6 {
  font-size: 0.75rem;
  text-shadow: 2px 1px 6px rgba(0,0,0,0.26);
  text-transform: uppercase;
  letter-spacing: 2px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 35px 0 0;
}

.u-section-1-1 .u-btn-6 {
  font-family: HelveticaNowText-Regular;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  padding: 0;
}

.u-section-1-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1-1 .u-text-7 {
  font-size: 0.75rem;
  text-shadow: 2px 1px 6px rgba(0,0,0,0.26);
  text-transform: uppercase;
  letter-spacing: 2px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 35px 0 0;
}

.u-section-1-1 .u-btn-7 {
  font-family: HelveticaNowText-Regular;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  padding: 0;
}

.u-section-1-1 .u-container-layout-6 {
  padding: 0;
}

.u-section-1-1 .u-text-8 {
  font-size: 0.75rem;
  text-shadow: 2px 1px 6px rgba(0,0,0,0.26);
  text-transform: uppercase;
  letter-spacing: 2px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 35px 0 0;
}

.u-section-1-1 .u-btn-8 {
  font-family: HelveticaNowText-Regular;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  padding: 0;
}

.u-section-1-1 .u-container-layout-7 {
  padding: 0;
}

.u-section-1-1 .u-text-9 {
  font-size: 0.75rem;
  text-shadow: 2px 1px 6px rgba(0,0,0,0.26);
  text-transform: uppercase;
  letter-spacing: 2px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 35px 0 0;
}

.u-section-1-1 .u-btn-9 {
  font-family: HelveticaNowText-Regular;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  padding: 0;
}

.u-section-1-1 .u-container-layout-8 {
  padding: 0;
}

.u-section-1-1 .u-text-10 {
  font-size: 0.75rem;
  text-shadow: 2px 1px 6px rgba(0,0,0,0.26);
  text-transform: uppercase;
  letter-spacing: 2px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 35px 0 0;
}

.u-section-1-1 .u-btn-10 {
  font-family: HelveticaNowText-Regular;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  line-height: 1.5;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  padding: 0;
}

.u-section-1-1 .u-container-layout-9 {
  padding: 0;
}

.u-section-1-1 .u-text-11 {
  font-size: 0.75rem;
  text-shadow: 2px 1px 6px rgba(0,0,0,0.26);
  text-transform: uppercase;
  letter-spacing: 2px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 35px 0 0;
}

.u-section-1-1 .u-btn-11 {
  font-family: HelveticaNowText-Regular;
  transition-duration: 0.5s;
  line-height: 1.5;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-1-1 {
    background-position: 50% 50%;
    background-size: 101%;
  }

  .u-section-1-1 .u-group-1 {
    width: calc(((100% - 940px) / 2)  + 363px);
    min-height: 785px;
    margin-top: -853px;
    margin-right: 0;
    height: auto;
  }

  .u-section-1-1 .u-container-layout-1 {
    padding-bottom: 26px;
  }

  .u-section-1-1 .u-text-1 {
    width: auto;
    margin-top: 0;
  }

  .u-section-1-1 .u-text-2 {
    width: auto;
    margin-top: 6px;
  }

  .u-section-1-1 .u-text-3 {
    width: auto;
    margin-top: 7px;
    margin-right: 58px;
  }

  .u-section-1-1 .u-btn-1 {
    margin-top: 20px;
  }

  .u-section-1-1 .u-btn-2 {
    margin-top: 21px;
  }

  .u-section-1-1 .u-btn-3 {
    margin-top: 21px;
  }

  .u-section-1-1 .u-list-1 {
    margin-top: -4px;
  }

  .u-section-1-1 .u-repeater-1 {
    min-height: 73px;
  }

  .u-section-1-1 .u-text-4 {
    width: 116px;
  }

  .u-section-1-1 .u-text-5 {
    width: 116px;
  }

  .u-section-1-1 .u-text-6 {
    width: 116px;
  }

  .u-section-1-1 .u-text-7 {
    width: 116px;
  }

  .u-section-1-1 .u-text-8 {
    width: 116px;
  }

  .u-section-1-1 .u-text-9 {
    width: 116px;
  }

  .u-section-1-1 .u-text-10 {
    width: 116px;
  }

  .u-section-1-1 .u-text-11 {
    width: 116px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-image-1 {
    height: 922px;
    width: 341px;
  }

  .u-section-1-1 .u-group-1 {
    width: 429px;
    min-height: 730px;
    margin-top: -826px;
    margin-right: calc(((100% - 720px) / 2));
    margin-bottom: 60px;
  }

  .u-section-1-1 .u-repeater-1 {
    grid-auto-columns: calc(25% - 7.5px);
    grid-template-columns: repeat(4, calc(25% - 7.5px));
    min-height: 242px;
  }
}

@media (max-width: 767px) {
   .u-section-1-1 {
    background-size: auto 101%;
  }

  .u-section-1-1 .u-image-1 {
    height: 213px;
    margin-top: 709px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1-1 .u-group-1 {
    width: 539px;
    min-height: 581px;
    margin-top: -801px;
    margin-right: auto;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 22px;
  }

  .u-section-1-1 .u-text-2 {
    margin-top: 0;
  }

  .u-section-1-1 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 743px;
  }
}

@media (max-width: 575px) {
   .u-section-1-1 {
    min-height: 960px;
  }

  .u-section-1-1 .u-image-1 {
    height: 233px;
    margin-top: 728px;
    filter: brightness(0.6);
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1-1 .u-group-1 {
    width: 341px;
    min-height: 645px;
    margin-top: -878px;
    margin-bottom: 0;
  }

  .u-section-1-1 .u-container-layout-1 {
    padding-top: 22px;
    padding-bottom: 22px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 0;
    margin-left: 7px;
  }

  .u-section-1-1 .u-text-2 {
    margin-left: 7px;
  }

  .u-section-1-1 .u-text-3 {
    margin-top: 17px;
    margin-right: 0;
    margin-left: 7px;
  }

  .u-section-1-1 .u-btn-1 {
    margin-top: 29px;
    margin-left: 0;
  }

  .u-section-1-1 .u-btn-2 {
    margin-top: 17px;
    margin-left: -1px;
  }

  .u-section-1-1 .u-btn-3 {
    margin-top: 17px;
    margin-left: 0;
  }

  .u-section-1-1 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

 .u-section-1-2 {
  background-position: 50% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-image: linear-gradient(to right, rgba(26, 26, 26, 1), rgba(102, 102, 102, 0.1)), url('/images/ewasiposs.jpg');
  background-size: cover, cover;
  min-height: 100vh;
}

.u-section-1-2 .u-group-1 {
  width: 480px;
  height: auto;
  min-height: 537px;
  margin: 193px auto 0 calc(((100% - 1140px) / 2)  + 90px);
}

.u-section-1-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-1-2 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: 700;
  margin: 0 74px 0 16px;
}

.u-section-1-2 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 1rem;
  line-height: 1.4;
  margin: 22px 87px 0 16px;
}

.u-section-1-2 .u-text-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: 700;
  margin: 58px 74px 0 16px;
}

.u-section-1-2 .u-text-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 1rem;
  line-height: 1.4;
  margin: 18px 87px 0 16px;
}

.u-section-1-2 .u-list-1 {
  margin-top: 104px;
  margin-bottom: 0;
}

.u-section-1-2 .u-repeater-1 {
  grid-auto-columns: calc(12.5% - 8.75px);
  grid-template-columns: repeat(8, calc(12.5% - 8.75px));
  min-height: 89px;
  grid-gap: 10px;
}

.u-section-1-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-1-2 .u-text-5 {
  font-size: 0.75rem;
  text-shadow: 2px 1px 6px rgba(0,0,0,0.26);
  text-transform: uppercase;
  letter-spacing: 2px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 35px 0 0;
}

.u-section-1-2 .u-btn-1 {
  font-family: HelveticaNowText-Regular;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  padding: 0;
}

.u-section-1-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-1-2 .u-text-6 {
  font-size: 0.75rem;
  text-shadow: 2px 1px 6px rgba(0,0,0,0.26);
  text-transform: uppercase;
  letter-spacing: 2px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 35px 0 0;
}

.u-section-1-2 .u-btn-2 {
  font-family: HelveticaNowText-Regular;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  padding: 0;
}

.u-section-1-2 .u-container-layout-4 {
  padding: 0;
}

.u-section-1-2 .u-text-7 {
  font-size: 0.75rem;
  text-shadow: 2px 1px 6px rgba(0,0,0,0.26);
  text-transform: uppercase;
  letter-spacing: 2px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 35px 0 0;
}

.u-section-1-2 .u-btn-3 {
  font-family: HelveticaNowText-Regular;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  padding: 0;
}

.u-section-1-2 .u-container-layout-5 {
  padding: 0;
}

.u-section-1-2 .u-text-8 {
  font-size: 0.75rem;
  text-shadow: 2px 1px 6px rgba(0,0,0,0.26);
  text-transform: uppercase;
  letter-spacing: 2px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 35px 0 0;
}

.u-section-1-2 .u-btn-4 {
  font-family: HelveticaNowText-Regular;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  padding: 0;
}

.u-section-1-2 .u-container-layout-6 {
  padding: 0;
}

.u-section-1-2 .u-text-9 {
  font-size: 0.75rem;
  text-shadow: 2px 1px 6px rgba(0,0,0,0.26);
  text-transform: uppercase;
  letter-spacing: 2px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 35px 0 0;
}

.u-section-1-2 .u-btn-5 {
  font-family: HelveticaNowText-Regular;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  padding: 0;
}

.u-section-1-2 .u-container-layout-7 {
  padding: 0;
}

.u-section-1-2 .u-text-10 {
  font-size: 0.75rem;
  text-shadow: 2px 1px 6px rgba(0,0,0,0.26);
  text-transform: uppercase;
  letter-spacing: 2px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 35px 0 0;
}

.u-section-1-2 .u-btn-6 {
  font-family: HelveticaNowText-Regular;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  padding: 0;
}

.u-section-1-2 .u-container-layout-8 {
  padding: 0;
}

.u-section-1-2 .u-text-11 {
  font-size: 0.75rem;
  text-shadow: 2px 1px 6px rgba(0,0,0,0.26);
  text-transform: uppercase;
  letter-spacing: 2px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 35px 0 0;
}

.u-section-1-2 .u-btn-7 {
  font-family: HelveticaNowText-Regular;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  line-height: 1.5;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  padding: 0;
}

.u-section-1-2 .u-container-layout-9 {
  padding: 0;
}

.u-section-1-2 .u-text-12 {
  font-size: 0.75rem;
  text-shadow: 2px 1px 6px rgba(0,0,0,0.26);
  text-transform: uppercase;
  letter-spacing: 2px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 35px 0 0;
}

.u-section-1-2 .u-btn-8 {
  font-family: HelveticaNowText-Regular;
  transition-duration: 0.5s;
  line-height: 1.5;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-group-1 {
    margin-left: calc(((100% - 940px) / 2) + 90px);
    height: auto;
  }

  .u-section-1-2 .u-repeater-1 {
    min-height: 72px;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-group-1 {
    margin-left: auto;
  }

  .u-section-1-2 .u-text-1 {
    margin-right: 90px;
    margin-left: 0;
  }

  .u-section-1-2 .u-text-2 {
    margin-right: 103px;
    margin-left: 0;
  }

  .u-section-1-2 .u-text-3 {
    margin-right: 90px;
    margin-left: 0;
  }

  .u-section-1-2 .u-text-4 {
    margin-right: 103px;
    margin-left: 0;
  }

  .u-section-1-2 .u-repeater-1 {
    min-height: 122px;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-repeater-1 {
    grid-auto-columns: calc(25% - 7.5px);
    grid-template-columns: repeat(4, calc(25% - 7.5px));
    min-height: 393px;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-group-1 {
    width: 314px;
  }

  .u-section-1-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1-2 .u-text-4 {
    margin-right: 0;
  }

  .u-section-1-2 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 1021px;
  }
}

 .u-section-1-3 {
  background-position: 50% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(102, 102, 102, 0.013999999999999999)), url('/images/image00007.JPG');
  background-size: cover, cover;
  min-height: 100vh;
}

.u-section-1-3 .u-group-1 {
  width: 475px;
  height: auto;
  min-height: 537px;
  margin: 193px auto 0 calc(((100% - 1140px) / 2)  + 95px);
}

.u-section-1-3 .u-container-layout-1 {
  padding: 4px 0;
}

.u-section-1-3 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: 700;
  margin: 0 0 0 34px;
}

.u-section-1-3 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 1rem;
  line-height: 1.4;
  margin: 18px 120px 0 34px;
}

.u-section-1-3 .u-btn-1 {
  --radius: 11px;
  font-size: 0.9375rem;
  border-style: solid;
  background-image: none;
  font-weight: 400;
  line-height: 1.2;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 35px 263px 0 auto;
  padding: 7px 12px 8px 10px;
}

.u-section-1-3 .u-btn-2 {
  --radius: 11px;
  font-size: 0.9375rem;
  border-style: solid;
  background-image: none;
  font-weight: 400;
  line-height: 1.2;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 16px 264px 0 auto;
  padding: 7px 20px 8px 19px;
}

.u-section-1-3 .u-btn-3 {
  --radius: 11px;
  font-size: 0.9375rem;
  border-style: solid;
  background-image: none;
  font-weight: 400;
  line-height: 1.2;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 16px 263px 0 auto;
  padding: 7px 14px 8px 12px;
}

.u-section-1-3 .u-list-1 {
  margin-top: 104px;
  margin-bottom: 0;
}

.u-section-1-3 .u-repeater-1 {
  grid-auto-columns: calc(12.5% - 8.75px);
  grid-template-columns: repeat(8, calc(12.5% - 8.75px));
  min-height: 89px;
  grid-gap: 10px;
}

.u-section-1-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-1-3 .u-text-3 {
  font-size: 0.75rem;
  text-shadow: 2px 1px 6px rgba(0,0,0,0.26);
  text-transform: uppercase;
  letter-spacing: 2px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 35px 0 0;
}

.u-section-1-3 .u-btn-4 {
  font-family: HelveticaNowText-Regular;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  padding: 0;
}

.u-section-1-3 .u-container-layout-3 {
  padding: 0;
}

.u-section-1-3 .u-text-4 {
  font-size: 0.75rem;
  text-shadow: 2px 1px 6px rgba(0,0,0,0.26);
  text-transform: uppercase;
  letter-spacing: 2px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 35px 0 0;
}

.u-section-1-3 .u-btn-5 {
  font-family: HelveticaNowText-Regular;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  padding: 0;
}

.u-section-1-3 .u-container-layout-4 {
  padding: 0;
}

.u-section-1-3 .u-text-5 {
  font-size: 0.75rem;
  text-shadow: 2px 1px 6px rgba(0,0,0,0.26);
  text-transform: uppercase;
  letter-spacing: 2px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 35px 0 0;
}

.u-section-1-3 .u-btn-6 {
  font-family: HelveticaNowText-Regular;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  padding: 0;
}

.u-section-1-3 .u-container-layout-5 {
  padding: 0;
}

.u-section-1-3 .u-text-6 {
  font-size: 0.75rem;
  text-shadow: 2px 1px 6px rgba(0,0,0,0.26);
  text-transform: uppercase;
  letter-spacing: 2px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 35px 0 0;
}

.u-section-1-3 .u-btn-7 {
  font-family: HelveticaNowText-Regular;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  padding: 0;
}

.u-section-1-3 .u-container-layout-6 {
  padding: 0;
}

.u-section-1-3 .u-text-7 {
  font-size: 0.75rem;
  text-shadow: 2px 1px 6px rgba(0,0,0,0.26);
  text-transform: uppercase;
  letter-spacing: 2px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 35px 0 0;
}

.u-section-1-3 .u-btn-8 {
  font-family: HelveticaNowText-Regular;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  padding: 0;
}

.u-section-1-3 .u-container-layout-7 {
  padding: 0;
}

.u-section-1-3 .u-text-8 {
  font-size: 0.75rem;
  text-shadow: 2px 1px 6px rgba(0,0,0,0.26);
  text-transform: uppercase;
  letter-spacing: 2px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 35px 0 0;
}

.u-section-1-3 .u-btn-9 {
  font-family: HelveticaNowText-Regular;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  padding: 0;
}

.u-section-1-3 .u-container-layout-8 {
  padding: 0;
}

.u-section-1-3 .u-text-9 {
  font-size: 0.75rem;
  text-shadow: 2px 1px 6px rgba(0,0,0,0.26);
  text-transform: uppercase;
  letter-spacing: 2px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 35px 0 0;
}

.u-section-1-3 .u-btn-10 {
  font-family: HelveticaNowText-Regular;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  line-height: 1.5;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  padding: 0;
}

.u-section-1-3 .u-container-layout-9 {
  padding: 0;
}

.u-section-1-3 .u-text-10 {
  font-size: 0.75rem;
  text-shadow: 2px 1px 6px rgba(0,0,0,0.26);
  text-transform: uppercase;
  letter-spacing: 2px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 35px 0 0;
}

.u-section-1-3 .u-btn-11 {
  font-family: HelveticaNowText-Regular;
  transition-duration: 0.5s;
  line-height: 1.5;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1-3 .u-group-1 {
    margin-left: calc(((100% - 940px) / 2)  + 94px);
    height: auto;
  }

  .u-section-1-3 .u-btn-1 {
    margin-right: auto;
    margin-left: 34px;
    padding-top: 8px;
    padding-right: 11px;
    padding-bottom: 10px;
  }

  .u-section-1-3 .u-list-1 {
    margin-top: 121px;
  }

  .u-section-1-3 .u-repeater-1 {
    min-height: 72px;
  }
}

@media (max-width: 991px) {
  .u-section-1-3 .u-group-1 {
    min-height: 520px;
    margin-left: auto;
  }

  .u-section-1-3 .u-btn-1 {
    margin-top: 34px;
    margin-left: 35px;
  }

  .u-section-1-3 .u-btn-2 {
    margin-right: auto;
    margin-left: 35px;
  }

  .u-section-1-3 .u-btn-3 {
    margin-right: auto;
    margin-left: 34px;
  }

  .u-section-1-3 .u-repeater-1 {
    grid-auto-columns: calc(25% - 7.5px);
    grid-template-columns: repeat(4, calc(25% - 7.5px));
    min-height: 238px;
  }
}

@media (max-width: 767px) {
  .u-section-1-3 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 731px;
  }
}

@media (max-width: 575px) {
   .u-section-1-3 {
    min-height: 774px;
  }

  .u-section-1-3 .u-group-1 {
    width: 340px;
    margin-top: 161px;
    margin-bottom: 60px;
  }

  .u-section-1-3 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1-3 .u-text-2 {
    margin-right: 19px;
    margin-left: 0;
  }

  .u-section-1-3 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1-3 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1-3 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-1-3 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

.u-section-1-1 .u-btn-10,
.u-section-1-1 .u-btn-10:before,
.u-section-1-1 .u-btn-10 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1-1 .u-btn-10.u-btn-10.u-btn-10:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1-1 .u-btn-10 {
  border-color: transparent !important;
}

.u-section-1-1 .u-btn-10.u-btn-10.u-btn-10.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1-1 .u-btn-10 {
  border-color: transparent !important;
}

.u-section-1-1 .u-btn-9,
.u-section-1-1 .u-btn-9:before,
.u-section-1-1 .u-btn-9 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1-1 .u-btn-8,
.u-section-1-1 .u-btn-8:before,
.u-section-1-1 .u-btn-8 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1-1 .u-btn-7,
.u-section-1-1 .u-btn-7:before,
.u-section-1-1 .u-btn-7 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1-1 .u-btn-6,
.u-section-1-1 .u-btn-6:before,
.u-section-1-1 .u-btn-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1-1 .u-btn-5,
.u-section-1-1 .u-btn-5:before,
.u-section-1-1 .u-btn-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1-1 .u-btn-4,
.u-section-1-1 .u-btn-4:before,
.u-section-1-1 .u-btn-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1-1 .u-btn-11,
.u-section-1-1 .u-btn-11:before,
.u-section-1-1 .u-btn-11 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1-1 .u-btn-11.u-btn-11.u-btn-11:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1-1 .u-btn-11 {
  border-color: transparent !important;
}

.u-section-1-1 .u-btn-11.u-btn-11.u-btn-11.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1-1 .u-btn-11 {
  border-color: transparent !important;
}

.u-section-1-3 .u-btn-4,
.u-section-1-3 .u-btn-4:before,
.u-section-1-3 .u-btn-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1-3 .u-btn-5,
.u-section-1-3 .u-btn-5:before,
.u-section-1-3 .u-btn-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1-3 .u-btn-6,
.u-section-1-3 .u-btn-6:before,
.u-section-1-3 .u-btn-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1-3 .u-btn-7,
.u-section-1-3 .u-btn-7:before,
.u-section-1-3 .u-btn-7 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1-3 .u-btn-8,
.u-section-1-3 .u-btn-8:before,
.u-section-1-3 .u-btn-8 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1-3 .u-btn-9,
.u-section-1-3 .u-btn-9:before,
.u-section-1-3 .u-btn-9 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1-3 .u-btn-10,
.u-section-1-3 .u-btn-10:before,
.u-section-1-3 .u-btn-10 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1-3 .u-btn-10.u-btn-10.u-btn-10:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1-3 .u-btn-10 {
  border-color: transparent !important;
}

.u-section-1-3 .u-btn-10.u-btn-10.u-btn-10.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1-3 .u-btn-10 {
  border-color: transparent !important;
}

.u-section-1-3 .u-btn-11,
.u-section-1-3 .u-btn-11:before,
.u-section-1-3 .u-btn-11 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1-3 .u-btn-11.u-btn-11.u-btn-11:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1-3 .u-btn-11 {
  border-color: transparent !important;
}

.u-section-1-3 .u-btn-11.u-btn-11.u-btn-11.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1-3 .u-btn-11 {
  border-color: transparent !important;
}

.u-section-1-2 .u-btn-1,
.u-section-1-2 .u-btn-1:before,
.u-section-1-2 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1-2 .u-btn-2,
.u-section-1-2 .u-btn-2:before,
.u-section-1-2 .u-btn-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1-2 .u-btn-3,
.u-section-1-2 .u-btn-3:before,
.u-section-1-2 .u-btn-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1-2 .u-btn-4,
.u-section-1-2 .u-btn-4:before,
.u-section-1-2 .u-btn-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1-2 .u-btn-5,
.u-section-1-2 .u-btn-5:before,
.u-section-1-2 .u-btn-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1-2 .u-btn-6,
.u-section-1-2 .u-btn-6:before,
.u-section-1-2 .u-btn-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1-2 .u-btn-7,
.u-section-1-2 .u-btn-7:before,
.u-section-1-2 .u-btn-7 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1-2 .u-btn-7.u-btn-7.u-btn-7:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1-2 .u-btn-7 {
  border-color: transparent !important;
}

.u-section-1-2 .u-btn-7.u-btn-7.u-btn-7.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1-2 .u-btn-7 {
  border-color: transparent !important;
}

.u-section-1-2 .u-btn-8,
.u-section-1-2 .u-btn-8:before,
.u-section-1-2 .u-btn-8 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1-2 .u-btn-8.u-btn-8.u-btn-8:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1-2 .u-btn-8 {
  border-color: transparent !important;
}

.u-section-1-2 .u-btn-8.u-btn-8.u-btn-8.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1-2 .u-btn-8 {
  border-color: transparent !important;
}.x {
background: rgba( 0, 0, 0, 0.10 );
box-shadow: 0 8px 32px 0 rgba( 0, 0, 0, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 1px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;
	background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 10%, rgba(0,0,0,0) 100%);
} @font-face {
  font-family: 'RecoletaAlt-Light';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/RecoletaAlt-Light.ttf);
}@font-face {
  font-family: 'HelveticaNowText-Light';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/HelveticaNowText-Light.otf);
}@font-face {
  font-family: 'HelveticaNowText-Regular';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/HelveticaNowText-Regular.otf);
}@font-face {
  font-family: 'HelveticaNowText-Italic';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/HelveticaNowText-Italic.otf);
}