.u-block-eab2-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-eab2-3 {
  position: absolute;
  left: 0;
  width: 37px;
  height: 37px;
  top: 442px;
  padding: 0;
}

.u-block-eab2-4 {
  position: absolute;
  width: 37px;
  height: 37px;
  left: auto;
  right: 0;
  padding: 0;
}

 .u-section-1-1 {
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
  background-size: cover;
  background-position: 50% 50%;
  min-height: 100vh;
}

.u-section-1-1 .u-shape-1 {
  width: 50%;
  left: 0;
  height: 100%;
  right: auto;
  background-image: linear-gradient(#d9d9d9, #e5e5e5);
}

.u-section-1-1 .u-image-1 {
  width: 50%;
  left: auto;
  height: 100%;
  right: 0;
}

.u-section-1-1 .u-accordion-1 {
  width: 570px;
  margin: 201px calc(((100% - 1140px) / 2)  + -13px) 0 auto;
}

.u-section-1-1 .u-accordion-item-1 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-1-1 .u-accordion-link-1 {
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 0px;
  font-weight: 400;
  font-size: 1rem;
  padding: 0 30px;
}

.u-section-1-1 .u-icon-1 {
  height: 40px;
  width: 40px;
  background-image: none;
  padding: 10px;
}

.u-section-1-1 .u-accordion-pane-1 {
  min-height: 654px;
  margin-left: auto;
  margin-right: 0;
  height: auto;
}

.u-section-1-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1-1 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 29px auto 0 33px;
}

.u-section-1-1 .u-text-2 {
  margin: 21px 44px 0 33px;
}

.u-section-1-1 .u-text-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 23px auto 0 33px;
}

.u-section-1-1 .u-text-4 {
  margin: 24px 34px 0;
}

.u-section-1-1 .u-text-5 {
  margin: 16px 16px 0 34px;
}

.u-section-1-1 .u-text-6 {
  margin: 16px 115px 0 33px;
}

.u-section-1-1 .u-btn-1 {
  background-image: none;
  font-family: HelveticaNowText-Regular;
  padding: 0;
}

.u-section-1-1 .u-text-7 {
  margin: 20px 33px 0;
}

.u-section-1-1 .u-group-1 {
  width: 514px;
  height: auto;
  min-height: 507px;
  margin: -27px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-1-1 .u-container-layout-2 {
  padding: 13px 0;
}

.u-section-1-1 .u-text-8 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  text-transform: uppercase;
  letter-spacing: 8px;
  font-size: 3.75rem;
  font-weight: 400;
  margin: 23px 63px 0 30px;
}

.u-section-1-1 .u-text-9 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 9px 30px 0;
}

.u-section-1-1 .u-text-10 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 1rem;
  line-height: 1.6;
  margin: 30px 50px 0 30px;
}

.u-section-1-1 .u-btn-2 {
  --radius: 11px;
  font-size: 0.9375rem;
  border-style: solid;
  background-image: none;
  font-weight: 400;
  line-height: 1.2;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 19px 50px 0 30px;
  padding: 7px 20px 8px;
}

.u-section-1-1 .u-list-1 {
  margin-top: 109px;
  margin-bottom: 0;
}

.u-section-1-1 .u-repeater-1 {
  grid-auto-columns: 12.5%;
  grid-template-columns: repeat(8, 12.5%);
  min-height: 91px;
  grid-gap: 0px;
}

.u-section-1-1 .u-list-item-1 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5));
  background-size: cover;
}

.u-section-1-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1-1 .u-text-11 {
  font-size: 0.75rem;
  text-shadow: 2px 1px 6px rgba(0,0,0,0.26);
  text-transform: uppercase;
  letter-spacing: 2px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 36px 0 0;
}

.u-section-1-1 .u-btn-3 {
  font-family: HelveticaNowText-Regular;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  padding: 0;
}

.u-section-1-1 .u-list-item-2 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5));
  background-size: cover;
}

.u-section-1-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1-1 .u-text-12 {
  font-size: 0.75rem;
  text-shadow: 2px 1px 6px rgba(0,0,0,0.26);
  text-transform: uppercase;
  letter-spacing: 2px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 36px 0 0;
}

.u-section-1-1 .u-btn-4 {
  font-family: HelveticaNowText-Regular;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  padding: 0;
}

.u-section-1-1 .u-list-item-3 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5));
  background-size: cover;
}

.u-section-1-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1-1 .u-text-13 {
  font-size: 0.75rem;
  text-shadow: 2px 1px 6px rgba(0,0,0,0.26);
  text-transform: uppercase;
  letter-spacing: 2px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 36px 0 0;
}

.u-section-1-1 .u-btn-5 {
  font-family: HelveticaNowText-Regular;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  padding: 0;
}

.u-section-1-1 .u-list-item-4 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5));
  background-size: cover;
}

.u-section-1-1 .u-container-layout-6 {
  padding: 0;
}

.u-section-1-1 .u-text-14 {
  font-size: 0.75rem;
  text-shadow: 2px 1px 6px rgba(0,0,0,0.26);
  text-transform: uppercase;
  letter-spacing: 2px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 36px 0 0;
}

.u-section-1-1 .u-btn-6 {
  font-family: HelveticaNowText-Regular;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  padding: 0;
}

.u-section-1-1 .u-list-item-5 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5));
  background-size: cover;
}

.u-section-1-1 .u-container-layout-7 {
  padding: 0;
}

.u-section-1-1 .u-text-15 {
  font-size: 0.75rem;
  text-shadow: 2px 1px 6px rgba(0,0,0,0.26);
  text-transform: uppercase;
  letter-spacing: 2px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 36px 0 0;
}

.u-section-1-1 .u-btn-7 {
  font-family: HelveticaNowText-Regular;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  padding: 0;
}

.u-section-1-1 .u-list-item-6 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5));
  background-size: cover;
}

.u-section-1-1 .u-container-layout-8 {
  padding: 0;
}

.u-section-1-1 .u-text-16 {
  font-size: 0.75rem;
  text-shadow: 2px 1px 6px rgba(0,0,0,0.26);
  text-transform: uppercase;
  letter-spacing: 2px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 36px 0 0;
}

.u-section-1-1 .u-btn-8 {
  background-image: none;
  font-family: HelveticaNowText-Regular;
  padding: 0;
}

.u-section-1-1 .u-list-item-7 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5));
  background-size: cover;
}

.u-section-1-1 .u-container-layout-9 {
  padding: 0;
}

.u-section-1-1 .u-text-17 {
  font-size: 0.75rem;
  text-shadow: 2px 1px 6px rgba(0,0,0,0.26);
  text-transform: uppercase;
  letter-spacing: 2px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 36px 0 0;
}

.u-section-1-1 .u-btn-9 {
  font-family: HelveticaNowText-Regular;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  line-height: 1.5;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  padding: 0;
}

.u-section-1-1 .u-list-item-8 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5));
  background-size: cover;
}

.u-section-1-1 .u-container-layout-10 {
  padding: 0;
}

.u-section-1-1 .u-text-18 {
  font-size: 0.75rem;
  text-shadow: 2px 1px 6px rgba(0,0,0,0.26);
  text-transform: uppercase;
  letter-spacing: 2px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 36px 0 0;
}

.u-section-1-1 .u-btn-10 {
  font-family: HelveticaNowText-Regular;
  transition-duration: 0.5s;
  line-height: 1.5;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-1-1 {
    background-position: 50% 50%, 50% 50%, 50% 50%;
    background-size: 101%, cover;
  }

  .u-section-1-1 .u-shape-1 {
    width: 570px;
    left: 15px;
    height: auto;
  }

  .u-section-1-1 .u-image-1 {
    height: 907px;
    width: 520px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: 0 0 0 auto;
  }

  .u-section-1-1 .u-accordion-1 {
    margin-top: -340px;
    margin-right: calc(((100% - 940px) / 2)  + -13px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1-1 .u-text-7 {
    margin-right: 115px;
  }

  .u-section-1-1 .u-group-1 {
    width: 470px;
    margin-top: -393px;
    margin-left: calc(((100% - 940px) / 2));
    height: auto;
  }

  .u-section-1-1 .u-list-1 {
    margin-top: 125px;
  }

  .u-section-1-1 .u-repeater-1 {
    min-height: 75px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-shape-1 {
    width: calc(((100% - 720px) / 2)  + 720px);
    height: auto;
  }

  .u-section-1-1 .u-image-1 {
    width: 410px;
    height: 900px;
    margin-top: 7px;
  }

  .u-section-1-1 .u-accordion-1 {
    margin-top: -1803px;
    margin-right: calc(((100% - 720px) / 2)  + -13px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1-1 .u-group-1 {
    width: 360px;
    min-height: 650px;
    margin-top: 1029px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1-1 .u-text-8 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1-1 .u-text-9 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1-1 .u-text-10 {
    width: auto;
    margin-right: 23px;
    margin-left: 0;
  }

  .u-section-1-1 .u-btn-2 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1-1 .u-repeater-1 {
    grid-auto-columns: 25%;
    grid-template-columns: repeat(4, 25%);
    min-height: 230px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-shape-1 {
    width: calc(((100% - 540px) / 2)  + 540px);
    left: 0;
    height: auto;
  }

  .u-section-1-1 .u-image-1 {
    width: 245px;
  }

  .u-section-1-1 .u-accordion-1 {
    width: 540px;
    margin-top: -2263px;
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1-1 .u-text-1 {
    margin-left: 18px;
  }

  .u-section-1-1 .u-text-2 {
    margin-right: 29px;
    margin-left: 18px;
  }

  .u-section-1-1 .u-text-3 {
    margin-left: 18px;
  }

  .u-section-1-1 .u-text-4 {
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-1-1 .u-text-5 {
    margin-right: 1px;
    margin-left: 19px;
  }

  .u-section-1-1 .u-text-6 {
    margin-right: 100px;
    margin-left: 18px;
  }

  .u-section-1-1 .u-text-7 {
    margin-right: 100px;
    margin-left: 18px;
  }

  .u-section-1-1 .u-group-1 {
    width: 329px;
    margin-top: 1505px;
    margin-bottom: 60px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1-1 .u-text-8 {
    font-size: 2.25rem;
  }

  .u-section-1-1 .u-text-10 {
    margin-right: 20px;
  }

  .u-section-1-1 .u-repeater-1 {
    grid-auto-columns: 50%;
    grid-template-columns: repeat(2, 50%);
    min-height: 690px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-shape-1 {
    width: calc(((100% - 340px) / 2)  + 340px);
    height: auto;
  }

  .u-section-1-1 .u-image-1 {
    height: 254px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1-1 .u-accordion-1 {
    width: 340px;
    margin-top: -1928px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1-1 .u-text-3 {
    margin-left: 0;
  }

  .u-section-1-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1-1 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1-1 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1-1 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1-1 .u-group-1 {
    min-height: 543px;
    margin-top: 1902px;
    margin-left: auto;
  }

  .u-section-1-1 .u-text-8 {
    font-size: 1.875rem;
  }

  .u-section-1-1 .u-text-10 {
    margin-right: 31px;
  }

  .u-section-1-1 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
  }
}

 .u-section-1-2 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, #e5e5e5, #ffffff);
  background-size: cover;
  min-height: 100vh;
}

.u-section-1-2 .u-image-1 {
  width: 620px;
  left: auto;
  right: 0;
}

.u-section-1-2 .u-group-1 {
  width: 514px;
  height: auto;
  min-height: 657px;
  margin: 125px auto 0 calc(((100% - 1140px) / 2)  + 22px);
}

.u-section-1-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-1-2 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 12px 0 0 30px;
}

.u-section-1-2 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 1rem;
  margin: 6px 53px 0 19px;
}

.u-section-1-2 .u-text-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 30px 0 0 38px;
}

.u-section-1-2 .u-text-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 1rem;
  margin: 6px 54px 0 19px;
}

.u-section-1-2 .u-btn-1 {
  --radius: 11px;
  font-size: 0.9375rem;
  border-style: solid;
  background-image: none;
  font-weight: 400;
  line-height: 1.2;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 19px auto 0 38px;
  padding: 7px 20px 8px;
}

.u-section-1-2 .u-list-1 {
  margin-top: 34px;
  margin-bottom: 0;
}

.u-section-1-2 .u-repeater-1 {
  grid-auto-columns: 12.5%;
  grid-template-columns: repeat(8, 12.5%);
  min-height: 91px;
  grid-gap: 0px;
}

.u-section-1-2 .u-list-item-1 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5));
  background-size: cover;
}

.u-section-1-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-1-2 .u-text-5 {
  font-size: 0.75rem;
  text-shadow: 2px 1px 6px rgba(0,0,0,0.26);
  text-transform: uppercase;
  letter-spacing: 2px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 36px 0 0;
}

.u-section-1-2 .u-btn-2 {
  font-family: HelveticaNowText-Regular;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  padding: 0;
}

.u-section-1-2 .u-list-item-2 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5));
  background-size: cover;
}

.u-section-1-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-1-2 .u-text-6 {
  font-size: 0.75rem;
  text-shadow: 2px 1px 6px rgba(0,0,0,0.26);
  text-transform: uppercase;
  letter-spacing: 2px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 36px 0 0;
}

.u-section-1-2 .u-btn-3 {
  font-family: HelveticaNowText-Regular;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  padding: 0;
}

.u-section-1-2 .u-list-item-3 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5));
  background-size: cover;
}

.u-section-1-2 .u-container-layout-4 {
  padding: 0;
}

.u-section-1-2 .u-text-7 {
  font-size: 0.75rem;
  text-shadow: 2px 1px 6px rgba(0,0,0,0.26);
  text-transform: uppercase;
  letter-spacing: 2px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 36px 0 0;
}

.u-section-1-2 .u-btn-4 {
  font-family: HelveticaNowText-Regular;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  padding: 0;
}

.u-section-1-2 .u-list-item-4 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5));
  background-size: cover;
}

.u-section-1-2 .u-container-layout-5 {
  padding: 0;
}

.u-section-1-2 .u-text-8 {
  font-size: 0.75rem;
  text-shadow: 2px 1px 6px rgba(0,0,0,0.26);
  text-transform: uppercase;
  letter-spacing: 2px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 36px 0 0;
}

.u-section-1-2 .u-btn-5 {
  font-family: HelveticaNowText-Regular;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  padding: 0;
}

.u-section-1-2 .u-list-item-5 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5));
  background-size: cover;
}

.u-section-1-2 .u-container-layout-6 {
  padding: 0;
}

.u-section-1-2 .u-text-9 {
  font-size: 0.75rem;
  text-shadow: 2px 1px 6px rgba(0,0,0,0.26);
  text-transform: uppercase;
  letter-spacing: 2px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 36px 0 0;
}

.u-section-1-2 .u-btn-6 {
  font-family: HelveticaNowText-Regular;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  padding: 0;
}

.u-section-1-2 .u-list-item-6 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5));
  background-size: cover;
}

.u-section-1-2 .u-container-layout-7 {
  padding: 0;
}

.u-section-1-2 .u-text-10 {
  font-size: 0.75rem;
  text-shadow: 2px 1px 6px rgba(0,0,0,0.26);
  text-transform: uppercase;
  letter-spacing: 2px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 36px 0 0;
}

.u-section-1-2 .u-btn-7 {
  font-family: HelveticaNowText-Regular;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  padding: 0;
}

.u-section-1-2 .u-list-item-7 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5));
  background-size: cover;
}

.u-section-1-2 .u-container-layout-8 {
  padding: 0;
}

.u-section-1-2 .u-text-11 {
  font-size: 0.75rem;
  text-shadow: 2px 1px 6px rgba(0,0,0,0.26);
  text-transform: uppercase;
  letter-spacing: 2px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 36px 0 0;
}

.u-section-1-2 .u-btn-8 {
  font-family: HelveticaNowText-Regular;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  line-height: 1.5;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  padding: 0;
}

.u-section-1-2 .u-list-item-8 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5));
  background-size: cover;
}

.u-section-1-2 .u-container-layout-9 {
  padding: 0;
}

.u-section-1-2 .u-text-12 {
  font-size: 0.75rem;
  text-shadow: 2px 1px 6px rgba(0,0,0,0.26);
  text-transform: uppercase;
  letter-spacing: 2px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 36px 0 0;
}

.u-section-1-2 .u-btn-9 {
  font-family: HelveticaNowText-Regular;
  transition-duration: 0.5s;
  line-height: 1.5;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-1-2 {
    background-size: 101%, cover;
  }

  .u-section-1-2 .u-image-1 {
    height: 907px;
    width: 455px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: 0 0 0 auto;
  }

  .u-section-1-2 .u-group-1 {
    width: 518px;
    min-height: 655px;
    margin-top: -758px;
    margin-left: calc(((100% - 940px) / 2));
    height: auto;
  }

  .u-section-1-2 .u-list-1 {
    margin-top: 28px;
  }

  .u-section-1-2 .u-repeater-1 {
    min-height: 75px;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-image-1 {
    width: 302px;
  }

  .u-section-1-2 .u-group-1 {
    width: 442px;
    min-height: 706px;
    margin-top: -781px;
    margin-bottom: 60px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1-2 .u-repeater-1 {
    grid-auto-columns: 25%;
    grid-template-columns: repeat(4, 25%);
    min-height: 230px;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-image-1 {
    width: 183px;
  }

  .u-section-1-2 .u-group-1 {
    width: 409px;
    min-height: 769px;
    margin-top: -782px;
    margin-bottom: 13px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1-2 .u-repeater-1 {
    grid-auto-columns: 50%;
    grid-template-columns: repeat(2, 50%);
    min-height: 690px;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1-2 .u-group-1 {
    width: 340px;
    margin-top: 101px;
    margin-left: auto;
    margin-bottom: 37px;
  }

  .u-section-1-2 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1-2 .u-text-2 {
    margin-right: 3px;
    margin-left: 0;
  }

  .u-section-1-2 .u-text-3 {
    margin-left: 0;
  }

  .u-section-1-2 .u-text-4 {
    margin-right: 4px;
    margin-left: 0;
  }

  .u-section-1-2 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1-2 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
  }
}

.u-section-1-1 .u-btn-3,
.u-section-1-1 .u-btn-3:before,
.u-section-1-1 .u-btn-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1-1 .u-btn-4,
.u-section-1-1 .u-btn-4:before,
.u-section-1-1 .u-btn-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1-1 .u-btn-5,
.u-section-1-1 .u-btn-5:before,
.u-section-1-1 .u-btn-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1-1 .u-btn-6,
.u-section-1-1 .u-btn-6:before,
.u-section-1-1 .u-btn-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1-1 .u-btn-7,
.u-section-1-1 .u-btn-7:before,
.u-section-1-1 .u-btn-7 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-9237-117,
.u-block-9237-117:before,
.u-block-9237-117 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1-1 .u-btn-9,
.u-section-1-1 .u-btn-9:before,
.u-section-1-1 .u-btn-9 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1-1 .u-btn-9.u-btn-9.u-btn-9:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1-1 .u-btn-9 {
  border-color: transparent !important;
}

.u-section-1-1 .u-btn-9.u-btn-9.u-btn-9.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1-1 .u-btn-9 {
  border-color: transparent !important;
}

.u-section-1-1 .u-btn-10,
.u-section-1-1 .u-btn-10:before,
.u-section-1-1 .u-btn-10 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1-1 .u-btn-10.u-btn-10.u-btn-10:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1-1 .u-btn-10 {
  border-color: transparent !important;
}

.u-section-1-1 .u-btn-10.u-btn-10.u-btn-10.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1-1 .u-btn-10 {
  border-color: transparent !important;
}

.u-section-1-2 .u-btn-2,
.u-section-1-2 .u-btn-2:before,
.u-section-1-2 .u-btn-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1-2 .u-btn-3,
.u-section-1-2 .u-btn-3:before,
.u-section-1-2 .u-btn-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1-2 .u-btn-4,
.u-section-1-2 .u-btn-4:before,
.u-section-1-2 .u-btn-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1-2 .u-btn-5,
.u-section-1-2 .u-btn-5:before,
.u-section-1-2 .u-btn-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1-2 .u-btn-6,
.u-section-1-2 .u-btn-6:before,
.u-section-1-2 .u-btn-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1-2 .u-btn-7,
.u-section-1-2 .u-btn-7:before,
.u-section-1-2 .u-btn-7 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1-2 .u-btn-8,
.u-section-1-2 .u-btn-8:before,
.u-section-1-2 .u-btn-8 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1-2 .u-btn-8.u-btn-8.u-btn-8:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1-2 .u-btn-8 {
  border-color: transparent !important;
}

.u-section-1-2 .u-btn-8.u-btn-8.u-btn-8.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1-2 .u-btn-8 {
  border-color: transparent !important;
}

.u-section-1-2 .u-btn-9,
.u-section-1-2 .u-btn-9:before,
.u-section-1-2 .u-btn-9 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1-2 .u-btn-9.u-btn-9.u-btn-9:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1-2 .u-btn-9 {
  border-color: transparent !important;
}

.u-section-1-2 .u-btn-9.u-btn-9.u-btn-9.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1-2 .u-btn-9 {
  border-color: transparent !important;
}.x {
background: rgba( 0, 0, 0, 0.10 );
box-shadow: 0 8px 32px 0 rgba( 0, 0, 0, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 1px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;
	background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
} @font-face {
  font-family: 'RecoletaAlt-Light';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/RecoletaAlt-Light.ttf);
}@font-face {
  font-family: 'HelveticaNowText-Light';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/HelveticaNowText-Light.otf);
}@font-face {
  font-family: 'HelveticaNowText-Regular';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/HelveticaNowText-Regular.otf);
}@font-face {
  font-family: 'HelveticaNowText-Italic';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/HelveticaNowText-Italic.otf);
}